.aside .logo a::before {
  border-top: 4px solid #eb1e4e;
  border-left: 4px solid #eb1e4e;
}

.aside .logo a::after {
  border-right: 4px solid #eb1e4e;
  border-bottom: 4px solid #eb1e4e;
}
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.contact .contact-info-item .icon .fa,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.about .about-content .about-text h3 span,
body.dark .portfolio .portfolio-filter button.active,
.portfolio .portfolio-filter button.active,
.service .service-item .service-item-inner .icon .fa,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active {
  color: #eb1e4e;
}

.about .about-content .skills .skill-item .progress .progress-in,
.service .service-item .service-item-inner:hover .icon,
.about .about-content .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a {
  background-color: #eb1e4e;
}

.portfolio .portfolio-filter button.active {
  border-color: #eb1e4e;
}

.about .about-content .skills .skill-item .skill-percent {
  color: #eb1e4e;
}

.btn,
.blog .botam a,
.contact .contact-form .btn {
  background: linear-gradient(90deg, #eb1e4e, #ffd166);
}
